@use '/src/base/config';

.social-media{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icon{
    background-color: config.$text-color;
    color: config.$dark-color-3;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    @include config.tablet{
      padding: .4rem;
    }
    @include config.laptop{
      padding: .7rem;
    }
  }
  &__icon-extended{
    cursor: pointer;
  }
  }



