@use '/src/base/config';

.about{
  padding-bottom: 1rem;
  @include config.laptop{
    display: grid;
    position: relative;
    height: 60vh;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    &__img,
    &__text{
      opacity: 0;
      position: absolute;
      transition: opacity 1s;
      width: 50%;
      top: 0;
    }
    &__img{
      left: 0;
    }
    &__text{
      left: 50%;
      font-size: 1.8rem;
      padding-inline: 2rem;
      &>h2{
        margin: 0;
      }
    }
  }
}

.show{
  opacity: 1;
}

.controls{
  display: none;
  @include config.laptop{
    display: flex;
    width: 50%;
    margin-inline: auto;
    font-size: 2rem;
    justify-content: space-around;
    cursor: pointer;
    color: config.$text-color;
  }
}