@use '/src/base/config';

.lightbox{
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.6);
  transition: scale .4s ease-out;

  &--show{
    scale: 1;
    z-index: 20;
  }
  &--hide{
    scale: 0;
    z-index: -10;
  }

}

.close-login{
  position: absolute;
  top: calc(0% + .8rem);
  right: calc(0% + .8rem);
  cursor: pointer;
}

.form-container{
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  height: 95%;
  color: config.$text-color;
  background-color: config.$dark-color-3;
  border-radius: 1rem;

  @include config.tablet{
    width: 75%;
  }
  @include config.laptop{
   width: 38%; 
  }
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;

  &__title{
    width: 90%;
    margin: .5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  &__field-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    &--register{
      height: 80%;
    }
  }
  &__field{
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: .9rem;
    @include config.laptop{
      font-size: 1rem;
    }
    &--submit{
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: 70%;
      font-size: 1rem;
      border: 0;
      border-radius: .5rem;
      font-weight: config.$font-bold;
      color: config.$text-color;
      background-color: config.$primary-color;
      cursor: pointer;
      @include config.laptop{
        height: 2.5rem;
      }
    }
    &>label{
      padding-block: 0 1rem;
    }
    &>input{
      border: 0;
      width: 100%;
      height: 2rem;
      border-radius: .5rem;
      background-color: config.$dark-color;
      padding-inline: 1em;
      color: config.$text-color;
      @include config.laptop{
        height: 2.5rem;
      }
      &:focus{
        outline: 0;
        outline: .2rem solid config.$primary-color;
        font-family: config.$main-font;
      }
    }
    &--register{
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      &>input{
        width: 1rem;
        height: 1rem;
        &:focus{
          outline: none;
        }
      }
      &>label{
        padding-left: .5rem;
        padding-block: 0;
        @include config.laptop{
          padding-left: 1rem;
        }
      }
    }
  }

  &__cta-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  &__cta{
    font-size: .9rem;
    text-align: center;
    text-decoration: none;
    color: config.$primary-color;
    @include config.laptop{
      font-size: 1rem;
    }
  }
}

.social-media-container{
  width: 60%;
  margin-inline: auto;
  @include config.tablet{
    width: 50%;
  }
  @include config.laptop{
    width: 50%;
  }
}